<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link id="css" type="text/css" rel="stylesheet" href="/static/css/light_style.css"/>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container" id="header">
        <div class="btn-group pull-right" data-toggle="buttons" id="color_buttons">
          <label class="btn btn-primary" id="dark_lab">
            <input type="radio" name="color_tab" id="dark" autocomplete="off" value="dark"> Dark
          </label>
          <label class="btn btn-primary active" id="light_lab">
            <input type="radio" name="color_tab" id="light" autocomplete="off" value="light" checked> Light
          </label>
        </div>
      </div>
    </header>
    
    <div class="container" id="body_container">
      <div class="row">
        <div class="col-md-7">
          <h1>Node Tree: Galaxy Zoo</h1>
        </div>
        <div class="col-md-5">
          <div class="input-group" id="search_buttons">
            <input type="text" class="form-control" id="galaxies">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" id="search">Search</button>
              <button class="btn btn-primary" type="button" id="random_gal">Random</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row" id="nav_row">
        <div class="col-md-9 col-sm-12">
          <div class="btn-group pull-right-md" data-toggle="buttons" id="zoo_buttons">
            <label class="btn btn-primary disabled"  id="zoo_1_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_1" value="1">GZ 1
            </label>
            <label class="btn btn-primary active" id="zoo_2_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_2" value="2" checked>GZ 2
            </label>
            <label class="btn btn-primary" id="zoo_3_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_3" value="3">GZ 3 Hubble
            </label>
            <label class="btn btn-primary" id="zoo_4s_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_4s" value="4_s">GZ 4 Sloan
            </label>
            <label class="btn btn-primary" id="zoo_4c_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_4c" value="4_c">GZ 4 Candels
            </label>
            <label class="btn btn-primary" id="zoo_4u_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_4u" value="4_u">GZ 4 UKIDSS
            </label>
            <label class="btn btn-primary" id="zoo_4f_lab">
              <input type="radio" name="zoo_tab" autocomplete="off"  id="zoo_4f" value="4_f">GZ 4 Ferengi
            </label>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-12">
          <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-primary active" id="weight_raw_lab">
              <input type="radio" name="weight_tab" autocomplete="off"  id="weight_raw" checked>Raw Votes
            </label>
            <label class="btn btn-primary disabled" id="weight_weighted_lab">
              <input type="radio" name="weight_tab" autocomplete="off"  id="weight_weighted">Weighted Votes
            </label>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div id="tree">
            <div id="sequence"></div>
            <div id="RA_DEC"><span id="ra_dec"></span></div>
            <div id="body"></div>
            <div id="odd"></div>
          </div>
        </div>
      </div>
      
      <div class="row" id="controls">
        
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <label for="slider_charge" class="slider_label">Charge: <span id="slider_charge_value">...</span></label>
            </div>
            <div class="col-md-3">
              <label for="slider_strength" class="slider_label">Link Strength: <span id="slider_strength_value">...</span></label>
            </div>
            <div class="col-md-3">
              <label for="slider_friction" class="slider_label">Friction: <span id="slider_friction_value">...</span></label>
            </div>      
          </div>
          
          <div class="row" id="sliders">
            <div class="col-md-3 col-md-offset-3">
              <input type="range" min="1" max="5" value="2.5" step="0.01" id="slider_charge" />
            </div>
            <div class="col-md-3">
              <input type="range" min="0" max="1" value="1" step="0.01" id="slider_strength" />
            </div>
            <div class="col-md-3">
              <input type="range" min="0" max="1" value="0.2" step="0.01" id="slider_friction" />
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" id="reset_button" class="btn btn-primary">Reset</button>
        </div>
        
      </div>
      
      <footer>
        <aside class="pull-right">Feb 11, 2015</aside>
        <a class="pull-left" href="http://wwww.zooniverse.org" rel="author">Zooniverse</a>
      </footer>
      
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      <script src="/static/js/d3.min.js"></script>
      <script src="/static/js/gz.js"></script>
  </body>
</html>
